*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/LicenseLibrary/build/
/.idea/
/.settings/org.eclipse.buildship.core.prefs
/.project
/LicenseLibrary/.settings/org.eclipse.buildship.core.prefs
/LicenseLibrary/.classpath
/LicenseLibrary/.project
