<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2021 By Geeks Empire.
  ~
  ~ Created by Elias Fazel
  ~ Last modified 10/5/21, 6:15 AM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher_adaptive"
        android:roundIcon="@mipmap/ic_launcher_adaptive_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:screenOrientation="sensorPortrait"
        android:theme="@style/GeekySplash">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/default_color" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".EntryConfigurations"
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:resizeableActivity="true"
            android:exported="true"
            android:theme="@style/GeekySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApplicationsShortcuts.NormalAppShortcutsSelectionListPhone"
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:resizeableActivity="true"
            android:exported="false"
            android:theme="@style/GeeksEmpire.Material"/>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".ApplicationsShortcuts.Utils.AppShortcutsMediatedActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="MEDIATED_ACTIVITY_PRO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".FoldersShortcuts.FolderShortcuts"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:exported="false"
            android:theme="@style/GeeksEmpire.Material"/>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".FoldersShortcuts.ApplicationsSelectionProcess.FolderAppSelectionList"
            android:exported="false"
            android:theme="@style/GeeksEmpire.Material"/>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".FoldersShortcuts.LoadFolderPopupShortcuts"
            android:excludeFromRecents="true"
            android:exported="false"
            android:resizeableActivity="true"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="load_category_action" />
                <action android:name="load_category_action_shortcut" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".SplitShortcuts.SplitShortcuts"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:exported="false"
            android:theme="@style/GeeksEmpire.Material"/>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".SplitShortcuts.ApplicationsSelectionProcess.SplitAppSelectionList"
            android:exported="false"
            android:theme="@style/GeeksEmpire.Material"/>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".SplitShortcuts.SplitServices.SplitTransparentPair"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:exported="false"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="load_split_action_pair" />
                <action android:name="load_split_action_pair_shortcut" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".SplitShortcuts.SplitServices.SplitTransparentSingle"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="load_split_action_single" />
                <action android:name="load_split_action_single_shortcut" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".Preferences.PreferencesUI"
            android:label="@string/pref"
            android:exported="true"
            android:theme="@style/GeeksEmpire">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="geeksempire.net"
                    android:pathPrefix="/FAQ/super.html"
                    android:scheme="http" />
                <data
                    android:host="geeksempire.net"
                    android:pathPrefix="/FAQ/super.html"
                    android:scheme="https" />

            </intent-filter>
        </activity>
        <activity
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:name=".Utils.RemoteTask.DeepLinkedShortcuts"
            android:exported="true"
            android:theme="@style/Transparent">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.geeksempire.net"
                    android:pathPrefix="/FAQ/super.html"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Utils.InAppUpdate.InAppUpdateProcess"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:exported="false"
            android:theme="@style/TransparentInAppUpdate" />
        <activity
            android:name=".Utils.InAppStore.DigitalAssets.InitializeInAppBilling"
            android:icon="@mipmap/ic_launcher_adaptive"
            android:roundIcon="@mipmap/ic_launcher_adaptive_round"
            android:exported="false"
            android:theme="@style/GeeksEmpire.Material.IAP.DARK">
            <intent-filter>
                <action android:name="In_App_Store"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".SplitShortcuts.SplitServices.SplitScreenService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/split_screen_config" />
        </service>
        <service
            android:name=".Utils.RemoteProcess.CloudNotificationHandler"
            android:exported="false"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>